* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-subtext: rgb(149, 134, 165);
  --color-red: #F55459;

  font-family: "Rubik", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-weight: normal;
}

.counter {
  background: var(--color-red);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  font-size: 12px;
  position: relative;
  top: -1px;
}

.unread {
  display: grid;
  place-items: center;
  background: #c6becf;
  border-radius: 20px;
  width: 22px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  color: white;

  .active & {
    background-color: #6c5fc6;
  }
}