* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-subtext: rgb(149, 134, 165);
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  width: 100%;
  min-height: 100vh;
}
