---
import Nav from './nav/Nav.astro';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Notifications - Sentry</title>
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="stylesheet" href="/style/global.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">

  <style lang="scss">
    body {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 767px) {
        flex-direction: row;
      }
    }
    main {
      background: #ffffff;
      width: 100%;
      min-height: 100vh;
    }
  </style>
</head>
<body>
  <Nav />
  <main>
    <slot/>
  </main>
</body>
</html>
