
<style lang="scss">
  .header {
    background: #faf9fb;
    border-bottom: 1px solid #c7bdcf;
    padding: 30px 40px 0;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 22px;
  }

  .tabs {
    margin-top: 40px;
    display: flex;
    gap: 16px;
    font-size: 16px;

    a {
      color: #7c6b8d;
      padding: 0 10px 10px;
      text-decoration: none;

      &.active {
        color: black;
        position: relative;
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          width: 100%;
          background: #6c5fc6;
          height: 3px;
        }
      }
    }
  }
</style>


<div class="header">
  <div class="header-content">
    <h1>Notifications</h1>
    <button>Settings</button>
  </div>

  <nav class="tabs">
    <a href="#" class="active">All</a>
    <a href="#">All</a>
    <a href="#">All</a>
    <a href="#">All</a>
    <a href="#">All</a>
    <a href="#">All</a>
    <a href="#">All</a>
  </nav>
</div>