---
import Tabs from './tabs/Tabs.astro';
import Cog from './icons/Cog.astro';
---

<style lang="scss">
  .header {
    background: #faf9fb;
    border-bottom: 1px solid #c7bdcf;
    padding: 30px 40px 0;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 22px;
    color: #2b1d38;
  }
</style>


<div class="header">
  <div class="header-content">
    <h1>Notifications</h1>
    <button><Cog /></button>
  </div>
  <Tabs/>
</div>