---
import Cog from './icons/Cog.astro';
---

<style lang="scss">
  .header {
    background: #faf9fb;
    border-bottom: 1px solid #c7bdcf;
    padding: 30px var(--wrapper-padding) 0;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 22px;
    color: #2b1d38;
  }
  button {
    padding: 10px 12px;
    border-radius: 4px;
    position: relative;
    top: -8px;
  }
</style>


<div class="header">
  <div class="header-content">
    <h1>Notifications</h1>
    <button><Cog /></button>
  </div>
  <slot />
</div>