<style lang="scss">
  .table {
    display: flex;
    flex-direction: column;
    margin: 0px var(--wrapper-padding) 0;
    border: 1px solid #cdc5d4;
    border-radius: 3px;
  }
  
  .table-header {
    border-radius: 3px 3px 0 0 ;
    border-bottom: 1px solid #cdc5d4;
    background: #faf9fb;
    padding: 10px 28px 10px;
    height: 44px;
    display: flex;
    align-items: center;
  }
  
  .selectall {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #776589;
    display: flex;
    gap: 8px;
  }
</style>


 <div class="table">
  <div class="table-header">
    <label for="#selectall" class="selectall">
      <input type="checkbox" id="selectall"/>
      Select all
    </label>
  </div>
  <slot />
</div>