<style lang="scss">
  .account {
    margin-bottom: 20px;
  }

  div {
    color: var(--color-subtext);
  }
  .title {
    color: white;
  }
</style>

<div class="account">
  <div>img placeholder</div>
  <div class="title">
    Empower Plant
  </div>
  <div>
    jane.schmidt@empower.io
  </div>
</div>