---
import NavLink from './NavLink.astro';
import NavAccount from './NavAccount.astro';

import Project from './../icons/Project.astro';
import Issues from './../icons/Issues.astro';
import Perf from './../icons/Perf.astro';
import Releases from './../icons/Releases.astro';
import Broadcast from './../icons/Broadcast.astro';
import Siren from './../icons/Siren.astro';
import Settings from './../icons/Settings.astro';
import Support from './../icons/Support.astro';
import GraphLine from './../icons/GraphLine.astro';
import Telescope from './../icons/Telescope.astro';
import Stats from './../icons/Stats.astro';
---

<style lang="scss">
  nav {
    background: linear-gradient(294.17deg, rgb(47, 25, 55) 35.57%, rgb(69, 38, 80) 92.42%, rgb(69, 38, 80) 92.42%);
    display: flex;
    padding: 0 20px;
    width: 100%;
    overflow: scroll;
    flex-wrap: nowrap;
    align-items: center;

    @media screen and (min-width: 767px) {
      flex-wrap: wrap;
      overflow: hidden;
      height: 100vh;
      position: sticky;
      top: 0;
      left: 0;
      bottom: 0;
      max-width: 220px;
      min-width: 220px;
      width: 220px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .section {
    display: flex;
    margin: 8px 0;

    @media screen and (min-width: 767px) {
      flex-direction: column;
    }
  }
  .last-item {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    margin-bottom: 15px;
  }

  .notifications {
    color: white;
  }
</style>

<nav>
  <NavAccount/>
  <div class="section">
    <NavLink icon={<Project/>}>Projects</NavLink>
    <NavLink icon={<Issues/>}>Issues</NavLink>
    <NavLink icon={<Perf/>}>Performance</NavLink>
    <NavLink icon={<Releases/>}>Releases</NavLink>
    <NavLink icon={<Support/>}>User Feedback</NavLink>
    <NavLink icon={<Siren/>}>Alerts</NavLink>
    <NavLink icon={<Telescope/>}>Discover</NavLink>
  </div>
  <div class="section">
    <NavLink icon={<GraphLine/>}>Dashboards</NavLink>
    <NavLink icon={<Stats/>}>Stats</NavLink>
  </div>
  <div class="section">
    <NavLink icon={<Settings/>}>Settings</NavLink>
  </div>
  <div class="section last-item">
    <NavLink active counter="74" icon={<Broadcast/>}>Notifications</NavLink>
    <NavLink icon={<Support/>}>Help</NavLink>
  </div>
</nav>