---
export interface Props {
  active: boolean;
  icon: React.ReactNode;
  counter: string;
}
const { active, icon, counter } = Astro.props;

---

<style lang="scss"> 
  a {
   display: block;
   color: var(--color-subtext);
   text-decoration: none;
   transition: color .3s linear;
   height: 34px;
   font-size: 15px;

   &[data-id-active] {
    color: white;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background: red;
      position: absolute;
      left: -10px;
    }
   }

    &:hover {
     color: white;
   }
  }
</style>

<a href="#" data-id-active={active} data-id-count={counter}>
  {icon}
  <slot />
</a>