---
export interface Props {
  active: boolean;
  icon: React.ReactNode;
  counter: string;
}
const { active, icon, counter } = Astro.props;

// let root = document.documentElement;

// root.style.setProperty('counter', counter);

---

<style lang="scss"> 
  :root {
    --counter: 0;
  }

  a {
   display: block;
   color: var(--color-subtext);
   text-decoration: none;
   transition: color .3s linear;
   height: 34px;
   font-size: 15px;
   display: flex;
   align-items: center;

   &[data-id-counter] {
    &:after {
      content: var(--counter);
    }
   }

   &[data-id-active] {
    color: white;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background: red;
      position: absolute;
      left: -10px;
    }
   }

    &:hover {
     color: white;

     svg g path {
       fill: white !important;
     }
   }
  }

  .content {
    margin-left: 10px;
  }
</style>

<a href="#" data-id-active={active} data-id-count={counter}>
  {icon}
  <div class="content">
    <slot />
  </div>
</a>