---
export interface Props {
  active: boolean;
  icon: React.ReactNode;
  counter: string;
}
const { active, icon, counter } = Astro.props;
---

<style lang="scss"> 
  :root {
    --counter: 0;
  }

  a {
   display: block;
   color: var(--color-subtext);
   text-decoration: none;
   transition: none;
   height: 34px;
   font-size: 15px;
   display: flex;
   align-items: center;
   text-indent: -9999px;  
   position: relative;
   width: 50px;

   @media screen and (min-width: 767px) {
     text-indent: 0;
     width: 100%;
   }

   &[data-id-counter] {
    &:after {
      content: var(--counter);
    }
   }

   &[data-active] {
    color: white;

    &:before {
      content: "";
      background: #6c5ec7;
      height: 3px;
      width: 100%;
      bottom: -10px;
      position: absolute;

      @media screen and (min-width: 767px) {
        width: 5px;
        height: 25px;
        position: absolute;
        left: -20px;
        bottom: 4px;
        border-radius: 0px 3px 3px 0px;
        transition: background-color 0.15s linear 0s;
      }
    }
   }

    &:hover {
     color: white;

     svg g path {
       fill: white !important;
     }
   }
  }

  .content {
    margin-left: 10px;
    display: flex;
    gap: 10px;
  }
</style>

<a href="#" data-active={active} data-id-count={counter}>
  {icon}
  <div class="content">
    <slot />
    {counter ? `<div class="counter">${counter}</div>` : ''}
  </div>
</a>